{% extends "blog/base.html"%}
{% block content %}
{% if posted_by %}
  <h1 class="mb-4 text-center">Blogs by {{ posted_by }}</h1>
  {% endif %}
{% if not blogs %}<h4 class="text-center">Seems like author never wrote one...</h4>{% endif %}
{% for blog in blogs %}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-blogs' blog.author.username %}">{{ blog.author}}</a>
        <small class="text-muted">{{ blog.date_posted }}</small>
      </div>
      <h2><a class="article-title" href="{% url 'read-blog' blog.id %}">{{ blog.title }}</a></h2>
      <p class="article-content truncated-text">{{ blog.content }}</p>
      <a href="{% url 'read-blog' blog.id %}" class="btn btn-link p-0">Read more</a>
    </div>
  </article>
{% endfor %}
{% endblock content%}